{% extends 'app/bootstrap.html' %}

{% load patternfly %}

{% block patternfly_content %}

<header class="pf-c-page__header">
  <div class="pf-c-page__header-brand">
    <a href="#" class="pf-c-page__header-brand-link">Logo</a>
  </div>

  <nav class="pf-c-nav pf-m-horizontal" aria-label="Global">
    <ul class="pf-c-nav__list">
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'home' %}">home</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'formset_default' %}">formset</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'form_default' %}">form</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'form_by_field' %}">form_by_field</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'form_horizontal' %}">form_horizontal</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'form_inline' %}">form_inline</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'form_with_files' %}">form_with_files</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'pagination' %}">pagination</a>
      </li>
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link pf-m-current" href="{% url 'misc' %}">miscellaneous</a>
      </li>
    </ul>
</header>

<div class="pf-c-page__main">
  {% autoescape off %}

  {% bootstrap_messages %}

  {% endautoescape %}
  <div class="pf-c-page__main-section">
    <h1 class="pf-c-title pf-m-4xl">
      {% block title %}(no title){% endblock %}
    </h1>
    <div class="pf-c-content">
      {% block content %}(no content){% endblock %}
    </div>
  </div>
</div>

{% endblock %}
